*{
	padding:0px;
	margin:0px;
}
.allCont{
	padding-left:100px;
	padding-top:60px;
	
}
.archives
{
	/*border:1px solid #000;*/
	width:100%;
	overflow: hidden;
	z-index: 10;
	/*position: relative;*/
}
.family{
	background: #fff;
}
.ar_img{
	width:70%;
	height:auto;
	overflow: hidden;
	position:relative;
	float: left;
	height:800px;
	box-shadow: 5px 0px 5px #999 inset;
}
.ar_person{
	float:left;
	/*height:200px;*/
	/*margin-left:900px;*/
	/*border:1px solid #000;*/
	/*position: absolute;*/
	/*right:0px;*/
	width:29%;
	box-shadow: 5px 5px 5px 5px #ccc;
	border-radius: 5px;
	margin-left:10px;
	/*top:80px;*/
	height:800px;
}
.ar_head{
	width:100%;
}
.ar_head h2{
	margin:0 auto;
	width:90%;
	line-height: 120px;
	height:80px;
	color:rgb(0,225,210);
	border-bottom: 2px solid rgb(0,225,210);
	/*border:1px solid #000;*/
}
.box_img{
	width:80%;
	margin-left:80px;
	margin-top:30px;
	height:500px;
	overflow: hidden;
	border:1px solid #ccc;


}
.box_img a{
	width:100%;
	height:100%;
}
.box_img img{
	width:100%;
	height:100%;
	overflow: hidden;
	box-shadow: 5px 5px 5px #999;
}
.img_display{
	width:100%;
	margin-top:50px;
	margin-left:110px;
	text-align: center;

}
.img_display a{
	width:20%;
	float:left;
	border:1px solid #000;
	height:100px;
	margin-right:50px;
	overflow: hidden;
}
.img_display a img{
	overflow: hidden;
	width:100%;
	height:100%;
}
.ar_arrows{
	width:100%;
	position: absolute;
	color:rgba(0,225,210,1);
	font-size:40px;
	font-weight:600;
	bottom: 70px;
	padding:0 40px;
	cursor: pointer;

}
.ar_arrows span{
	display: block;
	float:left;
}
 .ar_person a{
	border:2px solid #999;
	width:50px;
	height:50px;
	border-radius: 50%;
	overflow: hidden;
	margin-left:44%;
	margin-top:50px;
 }
  .ar_person ul{
  	width:100%;
  	height:auto;
  	margin-top:10px;
  	padding:40px;


  }
 .ar_person ul li{
 	list-style:none;
 	text-align: left;
 	padding-left:100px;
 	border-bottom:1px solid #ccc;
 	/*margin-top:20px;*/
 	height:50px;
 	line-height: 80px;
 	/*text-shadow:5px 5px 5px #999; */
 	/*color:rgb(0,225,210);*/
 	font-size:16px;
 	font-weight: 600;
 }
 .ill{

 }
 .ill .ar_ill{
 	margin-top:20px;
 }
  .ill .ar_ill table{
  	width:90%;
  	margin:0 auto;
  }
  .ill .ar_ill table th{
  	background:rgba(0,225,210,0.8);
  	padding:15px;
  	text-align: center;
  }
  .ill .ar_ill table tr td{
  	padding:20px;
  	background: rgba(0,225,210,0.2);
  }
   .ill .ar_ill form{
   	width:100%;
   	padding-left:82%;
   	margin:20px auto;
   }
    .ill .ar_ill form input[type=text]{
    	width:25px;
    }
    .canvas{
    	/*border:1px solid #ccc;*/
    }
    @media only screen and (max-width:1114px){
		.ar_person{
			display: none;
		}
		.ar_img{
			width:100%;
		}
    }
    @media only screen and (max-width:780px){
    	.img_display a:last-child{
			display: none;
    	}
    }
    .date{
    	position: absolute;top:0px;
    	left:30%;
    	width:100%;
    	top:-8px;
    }
    .date label{
    	font-size:12px;
    	font-weight: 600;
    	color:#999;
    }
    .date label button{
    	width:5%;
    }
    .myfile{
    	padding:0;
    	margin:0;
    	border:0;
    }
  .file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}